*{
	margin:0;
	padding: 0;
	/*overflow: hidden;*/
}

body {
  background-color: #ddd;
  position: relative;
  }
  
.box {
  background-color: #000;
  position: fixed;
  border-radius: 50%;
}

  
 .item {
 	list-style: none;
 	display: none;
 	position: absolute;
 }
